@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --background-rgb: 245, 245, 245; /* Soft gray background */
}

@layer components {
  .custom-input-container {
    @apply flex flex-col sm:flex-row border border-gray-300 rounded-md overflow-hidden;
  }

  .custom-input {
    @apply flex-grow px-4 py-3 outline-none text-sm;
  }

  .custom-button {
    @apply bg-orange-500 text-white font-medium px-6 py-3 whitespace-nowrap transition-colors hover:bg-orange-600 text-sm;
  }
}

html, body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background: rgb(var(--background-rgb));
  font-size: 14px; /* Global font size reduced */
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .service-item {
    @apply relative cursor-pointer border-t border-black/10 py-6 transition-all duration-300;
  }

  .service-item:last-child {
    @apply border-b border-black/10;
  }

  .service-number {
    @apply text-xs font-light text-black/60 tracking-wide;
  }

  .service-title {
    @apply text-2xl sm:text-3xl md:text-4xl font-light tracking-tight transition-all duration-300;
  }

  .service-item:hover .service-title {
    @apply text-black/60;
  }

  .service-image {
    @apply absolute right-0 top-1/2 -translate-y-1/2 w-auto h-auto max-h-[200px] object-contain z-10 rounded-md opacity-0 pointer-events-none;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.08));
    transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1), transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transform: scale(0.96) translateY(10px);
  }

  .service-item:hover .service-image {
    @apply opacity-100;
    transform: scale(1) translateY(0);
  }

  .view-more {
    @apply text-xs font-light text-black/60 ml-4 opacity-0 transition-opacity duration-300;
  }

  .service-item:hover .view-more {
    @apply opacity-100;
  }
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .service-title {
    @apply text-xl sm:text-2xl;
  }

  .service-number {
    @apply text-xs;
  }

  .view-more {
    @apply text-xs;
  }

  .service-item {
    @apply py-4;
  }
}

/* Adjust for larger screens */
@media (min-width: 1024px) {
  .service-title {
    @apply text-3xl;
  }
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  animation: marquee-reverse 25s linear infinite;
}
